<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
     <link rel="stylesheet" href="../assets/stylesheets/books.css" type="text/css">
</head>
<body>



<a href="/users/show?id={{.CurrentUser.Id}}">{{.CurrentUser.Un}}</a>


{{range .BOOKS}}
<p><a href="/books/show?id={{.Id}}">{{.Title}}</a> - {{.Author}} - {{.Price}} - <a href="/books/update?id={{.Id}}">update</a>  - <a href="/books/delete/process?id={{.Id}}">delete</a>  - <a href="/author/show?id={{.Author_id}}">chekAuthor</a></p>
{{end}}

<p class="link"> <a href="/books/create?current_user_id={{.CurrentUser.Id}}">Insert A Book</a> </p>
</body>
</html>
              