<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <link rel="stylesheet" href="../assets/stylesheets/create.css" type="text/css">
</head>
<body>

<h1>Create A New Book</h1>
<form method="post" action="/books/create/process?current_user_id={{.Id}}">
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="author" placeholder="author" required>
    <input type="text" name="price" placeholder="price" required>
    <input type="text" name="comment" placeholder="comment" required>
    <input type="submit">
</form>

</body>
</html>