<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
         <link rel="stylesheet" href="../assets/stylesheets/book_show.css" type="text/css">
</head>
<body>

<h2> {{.Title}} - {{.Author}} {{.Price}}</h2>
<p class="link"><a href="/books">All Books</a></p>

</body>
</html>